  .about-page{
    display: flex;
    justify-content: flex-end;
    .text-zone{
      width: 40%;
    }
    .image-zone{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
    img {
      scale: 0.30;
      border: 10px solid lightblue;
    }
  }
p {
  span {
    color: #47cbff;
  }

  font-size: 18px;
  color: white;
  font-family: "Poppins";
  font-weight: 300;
  min-width: fit-content;
  animation: pulse 1s;
  text-align: justify;

  &:nth-of-type(1) {
    animation-delay: 2s;

    &::before {
      content: '<p>';
      color: lightblue;
      font-family: "La Belle Aurore";
      font-size: 18px;
      position: absolute;
      margin-top: -15px;
      left: 2px;
      opacity: 0.8;
      line-height: 18px;
    }
  }

  &:nth-of-type(2) {
    animation-delay: 3s;

    &::after {
      content: '</p>';
      color: lightblue;
      font-family: "La Belle Aurore";
      font-size: 18px;
      position: absolute;
      left: -20px;
      bottom: -20px;
      margin-left: 20px;
      line-height: 18px;
      opacity: 0.8;
    }
  }
}}

@media screen and (max-width: 1200px) {
  .text-zone{
    margin: 0px !important;
    flex-grow: 2;
  }

  .text-zone h1{
    font-size: 50px
  }
  .text-zone p {
    font-size: 16px;
    text-align: center;
  }
  p:before, p:after{
    display: none;
  }
  .portrait {
    display: none;
  }
}