  .about-page{
  .portrait {
    position: absolute;
    scale: 0.55;
    left: 45%;
    top: 20%;
    transform: translateY(-50%);
    max-height: 90%;

    img {
      border-radius: 1000px;
      border: 10px solid lightblue;
    }
  }
p {
  span {
    color: #47cbff;
  }

  font-size: 18px;
  color: white;
  font-family: "Poppins";
  font-weight: 300;
  min-width: fit-content;
  animation: pulse 1s;
  text-align: justify;

  &:nth-of-type(1) {
    animation-delay: 2s;

    &::before {
      content: '<p>';
      color: lightblue;
      font-family: "La Belle Aurore";
      font-size: 18px;
      position: absolute;
      margin-top: -15px;
      left: 2px;
      opacity: 0.8;
      line-height: 18px;
    }
  }

  &:nth-of-type(2) {
    animation-delay: 3s;

    &::after {
      content: '</p>';
      color: lightblue;
      font-family: "La Belle Aurore";
      font-size: 18px;
      position: absolute;
      left: -20px;
      bottom: -20px;
      margin-left: 20px;
      line-height: 18px;
      opacity: 0.8;
    }
  }
}}